<%= yield :scripts %>

<div class="footer">
  <p id="footer"><i class="icon-thumbs-up"></i> Airport information obtained from the Data Hub <a href="http://datahub.io/dataset/global-airports" target = "_blank" >Global Airports</p>
</div>